body { 

background-color:  #739dc5; 

}

#center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color:  #890404;
  }


  #content {
    border: 3px solid green;
   /* margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color:  #890404;*/
  }

