body { 

background-color:  #739dc5; 

}


.item{

  background-color: dodgerblue;
}


.item2{

  background-color:lightgreen ;
}


#center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color:  #890404;
  }


  #content {
    border: 3px solid green;
   /* margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 50px;
    background-color:  #890404;*/
  }

  input 
  { width: 6vw ;
    height: 6vh;
  }


 


header {
  display: flex;
  justify-content: center;
  text-align: center;
}
